@import './colours.scss';

.container {
  width: 70vw;
  max-width: 80rem;
  margin: auto;
  padding-top: 3.125rem;
  padding-left: 2vw;
  padding-right: 2vw;

  background-size: cover;

  .gameHeader {
    @include alienFont;
    // margin: 3.125rem 2.5rem 0;
    // margin: 3.125rem 0 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .level {
    font-size: 3rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 30px #B4FFFF, 3px 3px 50px rgba(255, 255, 255, 0.5);
  }

  .timerContainer {
    margin-top: 1rem;
  }

  .questionNum {
    margin-top: 1rem;

    font-size: 1.5rem;

    .currentQuestion {
      display: inline;
      color: $light-blue;
    }
  }

  .score {
    .scoreText {
      @include alienFont;
      font-size: 1.5rem;
    }

    .scoreValue {
      @include alienFont;
      font-size: 1.8rem;
    }
  }

  .question {
    margin-top: 6.25rem;
  }

  .question {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .statement {
      @include mathsFont;

      font-size: min(5vw, 4rem);
      white-space: nowrap;
    }
    
    .variables {
      margin-top: 2rem;
      
      p {
        @include mathsFont;
        
        display: inline;
        margin-right: 2rem;
        
        font-size: 2rem;
      }

      p:last-child {
        margin-right: 0;
      }
    }

    
    .answers {
      width: 100%;

      .answersContainer {
        margin-top: 6rem;

        width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        .answerContainer {
          display: flex;
          flex-direction: column;
          align-items: center;

          &:only-child {
            margin: auto;
          }
        }

      }
    }
  }

  .heartBar {
    position: absolute;
    bottom: 20px;
    left: 15vw;
  }

  .submitButton {
    position: absolute;
    bottom: 20px;
    right: 15vw;

    width: auto;
    height: 60px;
    padding: 0 10px;

    border: none;
    border-radius: 20px;
    background: $red;

    font-size: 24px;
    line-height: 60px;
    color: white;

    cursor: pointer;

    &:hover {
      background: darken($red, 10%);
    }
  }
}