@import './colours.scss';

.container {
  width: 90vw;
  margin: auto;
  
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .instructionText {
    align-self: flex-start;
    margin-bottom: 30px;
    font-size: 32px;
  }

  img {
    width: 100%;

    margin-bottom: 50px;
  }
}